

fieldset{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%
}

.botao{
	width: 10%;
	padding: 15px 10px;
	background: gray;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.botao:hover {
	background: black;
	transform: scale(1.2);
}
}

